<!--suppress ALL -->
<nb-card>
    <nb-card-header>
        <h5 style="width:50em">{{action}} Component</h5>
    </nb-card-header>
    <nb-card-body>
        <h6>Module</h6>
        <div class="form-group row">
            <label for="componentNamespace" class="label col-sm-2 col-form-label">Namespace</label>
            <div class="col-sm-10">
                <nb-select id="componentNamespace"
                           fullWidth
                           placeholder="Select Namespace"
                           (selectedChange)="onNamespaceChange($event)"
                           [(selected)]="selectedNamespace">
                    <nb-option *ngFor="let namespace of namespaces" [value]="namespace">{{namespace}}</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="form-group row">
            <label for="componentModule" class="label col-sm-2 col-form-label">Module</label>
            <div class="col-sm-10">
                <nb-select id="componentModule"
                           fullWidth
                           placeholder="Select Module"
                           (selectedChange)="onModuleChange($event)"
                           [(selected)]="selectedModule">
                    <nb-option *ngFor="let module of modules" [value]="module">{{module}}</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="form-group row">
            <label for="componentVersion" class="label col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
                <nb-select id="componentVersion"
                           fullWidth
                           placeholder="Select Version"
                           (selectedChange)="onVersionChange($event)"
                           [(selected)]="selectedVersion">
                    <nb-option *ngFor="let version of versions" [value]="version">{{version}}</nb-option>
                </nb-select>
            </div>
        </div>

        <h6>General</h6>
        <div class="form-group row">
            <label for="componentCode" class="label col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input id="componentCode"
                       type="text"
                       nbInput
                       fullWidth
                       placeholder="Code"
                       [(ngModel)]="componentCode">
            </div>
        </div>
        <div class="form-group row">
            <label for="componentDisplayName" class="label col-sm-2 col-form-label">Display Name</label>
            <div class="col-sm-10">
                <input id="componentDisplayName"
                       type="text"
                       nbInput
                       fullWidth
                       placeholder="Display Name"
                       [(ngModel)]="componentDisplayName">
            </div>
        </div>

        <h6>Variables</h6>
        <div class="form-group row" *ngFor="let variable of componentVariables">
            <label for="var_{{variable.name}}" class="label col-sm-2 col-form-label">{{variable.name}}:</label>
            <div class="col-sm-10">
                <input *ngIf="variable.type === 'string'"
                       #variableField
                       id="var_{{variable.name}}"
                       type="text"
                       nbInput
                       fullWidth
                       [value]="variable.value"
                       (change)="onVariableChange(variable.name, variableField.value)">
                <nb-select *ngIf="variable.type === 'object'"
                           #variableField
                           id="var_{{variable.name}}"
                           fullWidth
                           placeholder="Select Component"
                           (selectedChange)="onVariableChange(variable.name, variableField.selected)"
                           [(selected)]="variable.value">
                    <nb-option *ngFor="let option of variable.options" [value]="option.value">{{option.name}}</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton (click)="cancel()">Cancel</button>
        <button nbButton (click)="submit()">OK</button>
    </nb-card-footer>
</nb-card>
