.gradle
.idea
.terraform
.terraform.tfstate.lock.info
build
dist
gradle.properties
node_modules
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.json

/deployment/aws-credentials.json
/deployment/website_files.tf.json
/deployment/terraform.output.json

/website/src/config.json
/libraries/commons/package-lock.json
/libraries/data/package-lock.json
