<nb-card>
    <nb-card-header>
        <div class="row show-grid">
            <div class="col-md-12">
                <h4>Deployment Configuration '{{deploymentConfig?.displayName}}'</h4>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>

        <div class="row show-grid">
            <div class="col-md-11">
                <h6>Variables</h6>
            </div>
            <div class="col-md-1">
                <button nbButton (click)="onAddVariable()">
                    Add
                </button>
            </div>
        </div>

        <ng2-smart-table [settings]="variableSettings"
                         [source]="variableSource"
                         (edit)="onEditVariable($event)"
                         (delete)="onDeleteVariable($event)">
        </ng2-smart-table>

    </nb-card-body>
</nb-card>
